#cart-screen {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
  /* border: 1px solid black; */
}

#cart-screen > #cart-products {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 50px 0;
  /* border: 1px solid black; */
}

#cart-screen > #cart-products > #left {
  width: 60%;
  /* border: 1px solid red; */
}

#cart-screen > #cart-products > #left > #products {
  width: 60%;
  margin: auto;
  /* border: 1px solid black; */
}

#cart-screen > #cart-products > #left > #products > .product {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(206, 206, 206);
}

#cart-screen > #cart-products > #left > #products > .product > .img {
  height: 200px;
  width: 55%;
  /* border: 1px solid black; */
}

#cart-screen > #cart-products > #left > #products > .product > .img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#cart-screen > #cart-products > #left > #products > .product > .details {
  width: 50%;
  /* border: 1px solid red; */
}

#cart-screen > #cart-products > #left > #products > .product > .details > h3 {
  font-size: 25px;
  font-weight: 600;
}

#cart-screen > #cart-products > #left > #products > .product > .details > h4 {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

#cart-screen
  > #cart-products
  > #left
  > #products
  > .product
  > .details
  > button {
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 22px;
  cursor: pointer;
  color: white;
  background-color: rgb(59, 158, 190);
}

#cart-screen > #cart-products > #right {
  position: fixed;
  right: 4%;
  width: 35%;
  padding: 10px 0 20px 0;
  margin: 15px 0;
  border-left: 1px solid rgb(209, 209, 209);
}

#cart-screen > #cart-products > #right > h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}

#cart-screen > #cart-products > #right > #price-summary {
  width: 100%;
  /* border: 1px solid red; */
}

#cart-screen > #cart-products > #right > #price-summary > #details {
  width: 85%;
  margin: auto;
  padding: 20px 0 10px 0;
  /* border: 1px solid black; */
}

#cart-screen > #cart-products > #right > #price-summary > #details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
}

#cart-screen
  > #cart-products
  > #right
  > #price-summary
  > #details
  > div
  > h4:first-child {
  color: rgb(58, 58, 58);
}

#cart-screen > #cart-products > #right > #price-summary > #checkout {
  width: 85%;
  height: 48px;
  margin: auto;
  /* border: 1px solid red; */
}

#cart-screen > #cart-products > #right > #price-summary > #checkout > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(59, 158, 190);
}
