#edit-product-screen {
  height: 100vh;
  width: 100%;
}

#edit-product-screen > form {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  padding: 25px 0 35px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(116, 116, 116);
}

#edit-product-screen > form > #edit-product-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-product-screen > form > #edit-product-header > h2 {
  font-size: 28px;
  margin: 15px 0;
}

#edit-product-screen > form > .fields {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  height: 40px;
  /* border: 1px solid black; */
}

#edit-product-screen > form > .fields > label {
  font-size: 20px;
  font-weight: 600;
}

#edit-product-screen > form > .fields > input {
  height: 95%;
  width: 70%;
  outline: none;
}

#edit-product-screen > form > .drop-down {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 10px 0;
  height: 40px;
}

#edit-product-screen > form > .drop-down > label {
  font-size: 20px;
  font-weight: 600;
}

#edit-product-screen > form > .drop-down > select {
  padding: 2px 5px;
  margin: 0 0 0 25px;
  border: none;
  background: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(150, 150, 150);
}

#edit-product-screen > form > button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin: 15px 40px 0 15px;
  padding: 5px 22px;
  cursor: pointer;
  color: white;
  background-color: rgb(59, 158, 190);
}
